.awesome {
    margin: 50px auto;
}

.awesome__title {
    text-align: center;
    margin-bottom: 30px;
}

.awesome__content {
    display: flex;
    justify-content: space-between;
}

.awesome__block {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 31.6%;
}

.awesome__block__image img{
    max-width: 170px;
}

.awesome__block__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(33 / 24 * 100%);
    padding: 33px 0;
}

.awesome__block__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18 * 100%);
    padding-bottom: 8px;
}

@media (max-width: 1024px) {
    .awesome__block__image img{
        max-width: 147px;
    }
    .awesome__block__title {
        font-size: 18px;
        line-height: calc(25 / 18 * 100%);
        padding: 29px 0;
    }

    .awesome__block__text {
        font-size: 14px;
        line-height: calc(16 / 14 * 100%);
        padding-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .awesome__content {
        flex-direction: column;
    }
    .awesome__block {
        width: 100%;
    }
}

























