.awesome {
    font-family: "Raleway", sans-serif;
    max-width: 1510px;
    margin: 50px auto;
    color: #000000;
    background: #fff;
    display: flex;
    justify-content: center;
}

.container-awesome {
    width: 1170px;
}

.awesome__topBlock {
    text-align: center;
}

.awesome__title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 54px auto;
}

.awesome__separator {
    width: 170px;
    border: none;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto;
}

.awesome__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
    margin: 40px auto;
}

.awesome__content {
    display: flex;
    justify-content: space-between;
}

.content__block {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
    padding: 0 10px;
}

.content__block__image img{
    width: 170px;
}

.content__block__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.content__block__text {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    margin: 0;
}

























