

.stylish {
    font-family: 'Raleway', sans-serif;
    max-width: 1510px;
    height: 442px;
    margin: 0 auto;
    color: #fff;
    background: url("assets_contacts/stylish.svg");
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}
.stylish__opacity {
    height: 442px;
    background: rgba(0, 0, 0, 0.3);
}

.stylish__align {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    height: 100%;
}

.stylish__topBlock {
    text-align: center;
}

.stylish__title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 54px auto;
}

.stylish__separator {
    width: 170px;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 0 auto;
}

.stylish__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    margin: 40px auto;
}

.stylish__button {
    border: 2px solid #FFFFFF;
    width: 370px;
    height: 58px;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    transition: all 500ms ease;
}

.stylish__button:hover {
    background: rgba(255,255,255,0.2);
}

.contacts {
    font-family: 'Raleway', sans-serif;
    max-width: 1510px;
    height: 722px;
    margin: 0 auto;
}

.contacts_align {
    box-sizing: border-box;
    padding: 50px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contacts__topBlock {
    text-align: center;
}

.contacts__title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 54px auto;
}

.contacts__separator {
    width: 170px;
    border: none;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto;
}

.contacts__subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
    margin: 40px auto;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 330px;
    width: 100%;
}

.contacts__form__blocks {
    display: flex;
    width: 100%;
}

.contacts__form__left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contacts__form__input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    height: 38px;
    padding-top: 33px;
}

.contacts__form__input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;
}

.contacts__form__right {
    width: 50%;
    height: 175px;
    padding-top: 40px;
    padding-left: 30px;
}

.contacts__form__right textarea {
    width: 100%;
    height: 100%;
    border: none;
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}

.contacts__form__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: #EC7979;
    font-size: 18px;
    color: #ffffff;
    width: 370px;
    height: 58px;
    border: none;
    transition: all 500ms ease;
}

.contacts__form__button:hover {
    background: #ec9191;
}

.footer {
    background: black;
    max-width: 1510px;
    height: 164px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}

.footer__icons__ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 570px;
    padding: 0;
}














