.customers {
    padding: 50px 0;
}

.customers__title {
    text-align: center;
    margin-bottom: 50px;
}

.customers__blocks {
    display: flex;
    justify-content: space-between;
}

.customers__block {
    width: 32%;
    text-align: center;
}

.customers__block__feedback {
    display: flex;
    flex-direction: column;
}

.feedback__text {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18 * 100%);
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
    padding: 38px 15px;
}

.feedback__triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 30px solid #E2E2E2;
    position: relative;
    left: 60px;
    top: -10px;
}

.customers__block__person {
    display: flex;
    align-items: start;
    margin-top: 46px;
}

.customers__block__person img {
    width: 70px;
}

.person__info {
    height: 80px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
}

.person__name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: calc(33 / 24 * 100%);
    font-size: 24px;
}

.person__profession {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18 * 100%)
}

.customers__points {
    display: none;
}

@media (max-width: 1024px){
    .customers__title {
        margin-bottom: 0;
    }

    .feedback__text {
        font-size: 14px;
        line-height: calc(16 / 14 * 100%);
        padding: 50px 15px;
    }

    .customers__block__person img {
        width: 63px;
    }

    .person__info {
        height: 55px;
    }

    .person__name {
        line-height: calc(25 / 18 * 100%);
        font-size: 18px;
    }

    .person__profession {
        font-size: 14px;
        line-height: calc(16 / 14 * 100%)
    }
}
@media (max-width: 320px){
    .customers {
        padding: 0;
    }

    .tittle-customers {
        padding: 33px 0;
    }

    .customers__block {
        width: 100%;
    }

    .customers__block:first-child,
    .customers__block:last-child {
        display: none;
    }

    .customers__block__person {
        margin-top: 42px;

    }

    .customers__points {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 70px;
        width: 100%;

    }

    .customers__points > * {
        position: relative;
        display: block;
        border: 1px solid #86878B;
        border-radius: 50%;
        height: 9px;
        width: 9px;
    }

    .customers__points__circle {
        background: #86878B;
    }
}