*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 18px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 1 auto;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.title {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 36px;
    line-height: calc(42 / 36 * 100%);
    padding: 54px 0;
}
.separator {
    width: 170px;
    border-bottom: 1px solid #EC7979;
    margin: 0 auto;
}
.subtitle {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18 * 100%);
    color: #86878B;
    padding: 40px 0;
}

a {
    text-decoration: none;
}

ul, ol, li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

.header {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #000000;
}

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}
.header__logo {
    display: inline-block;
}
.header__logo img{
    width: 150px;
}

.header__nav {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
}

.header__nav__item {
    margin: 0 60px 0 0;
}

.header__nav__item a {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(19 / 14 * 100%);
    transition: all 500ms ease;
}

.header__nav__item a:hover {
    text-decoration: underline;
    color: #ec9191;
}
.header__burger {
    display: none;
}

@media (max-width: 1024px){
    .container {
        max-width: 992px;
    }
    .title {
        font-size: 24px;
        line-height: calc(28 / 24 * 100%);
        padding: 45px 0;
    }

    .separator {
        width: 142px;
    }

    .subtitle {
        font-size: 14px;
        line-height: calc(16 / 14 * 100%);
        padding: 32px 0;
    }

    .header__container {
        padding-left: 115px;
    }
    .header__nav {
        flex-wrap: wrap;
    }
    .header__nav__item {
        padding: 10px 0;
        margin: 0 50px 0 0;
    }
}

@media (max-width: 320px){
    .container {
        max-width: 288px;
    }

    .title {
        padding: 50px 0;
    }

    .separator {
        width: 134px;
    }

    .subtitle {
        padding: 25px 0;
    }

    .header__container {
        min-height: 56px;
        padding-left: 20px;
    }

    .header__logo {
        display: block;
    }

    .header__logo img{
        width: 108px;
    }

    .header__nav {
        display: none;
    }

    .header__burger, .header__burger::before, .header__burger::after {
        display: block;
        position: absolute;
        height: 3px;
        width: 24px;
        border-radius: 2px;
        background-color: #fff;
    }

    .header__burger::before {
        content: '';
        margin-top: -8px;
    }

    .header__burger::after {
        content: '';
        margin-top: 8px;
    }
    .header__burger {

        top: 25px;
        right: 19px;
    }
}