
.header {
    box-sizing: border-box;
    max-width: 1510px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    background: black;
    padding-right: 170px;
    padding-left: 115px;
    margin: 0 auto;
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
}

.header__logo {
    padding-top: 10px;
}

.header__nav {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100%;
    list-style-type: none;
}

.header__nav li {
    width: 114px;
}

.header__nav a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.header__nav a:hover {
    text-decoration: underline;
}

.main {
    font-family: 'Raleway', sans-serif;
    max-width: 1510px;
    height: 1026px;
    margin: 0 auto;
    color: #fff;
    background-image: url("assets_header/city.svg");
}

.main-opasity {
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.main__align {
    position: relative;
    display: flex;
}


.main__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
    width: 670px;
}

.main__separator {
    border: 0;
    border-top: 1px solid #FFFFFF;
    width: 170px;
    margin: 0;
}

.main__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 270px;
    margin: 42px 0;
}

.main__button {
    border: 2px solid #FFFFFF;
    width: 270px;
    height: 58px;
    background: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    transition: all 500ms ease;
}

.main__button:hover {
    background: rgba(255,255,255,0.2);
}

.main__form {
    position: relative;
    background: white;
    width: 470px;
    height: 450px;
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__form__h2 {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    margin: 24px auto 0;
}

.main__form__free {
    font-family: 'Open Sans', sans-serif;
    color: #EC7979;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}

.main__form__inputs {
    padding: 0 50px;
}

.main__form__input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    height: 38px;
    padding-top: 33px;
}

.main__form__input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #BDBDBD;
}

.main__form__button {
    width: 100%;
    height: 60px;
    background: #EC7979;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 0 0 10px 10px;
    transition: all 500ms ease;
}

.main__form__button:hover {
    background: #ec9191;
}

.socials {
    background: #F8EFEF;
    max-width: 1510px;
    height: 140px;
    margin: 0 auto 100px;
    color: #86878B;
}

.socials__align {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials__text {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socials__h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #333333;
    margin: 15px 0;
}

.socials__p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.socials__icons {
    width: 700px;
}

.socials__icons__ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    list-style-type: none;
}
.socials__icons__ul li {

    transition: all 500ms ease;
}
.socials__icons__ul li:hover {
    border-radius: 50%;
    box-shadow: 0 0 29px 19px rgba(247, 238, 238, 0.9);
    background: rgb(248, 244, 244, 0.7);
}

