.container {
    max-width: 992px;
    margin: 0 auto;
}

.header {
    box-sizing: border-box;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0;
}

.header__logo img {
    padding-left: 100px;
}

.main {
    box-sizing: border-box;
    max-width: 1024px;
    height: 768px;
    background-size: cover;
}

.main-opasity {
    height: 100%;
}

.main__align {
    box-sizing: border-box;
    max-width: 1024px;
    padding-left: 115px;
    padding-right: 15px;
}

.main__img {
    width: 183px;
}
.main__title {
    font-size: 36px;
    width: 455px;
}

.main__separator {
    width: 115px;
}

.main__subtitle {
    font-size: 14px;
    width: 183px;
    margin: 31px 0;
}

.main__button {
    width: 183px;
    height: 50px;
}

.main__form {
    width: 397px;
}

.main__form__h2, .main__form__free {
    font-size: 18px;
}

.socials {
    box-sizing: border-box;
    max-width: 1024px;
    height: 105px;
    padding: 0 15px;
    margin: 0;
}

.socials__text {
    box-sizing: border-box;
    width: 45%;
}

.socials__h5 {
    font-size: 18px;
}

.socials__p {
    font-size: 14px;
}
.socials__icons__ul {
    padding: 0;
}
.socials__icons {
    width: 50%;
}

.tabs {
    box-sizing: border-box;
    max-width: 1024px;
    padding: 0 15px;
    margin: 50px auto;
}

.container-tabs {
    box-sizing: border-box;
    width: 992px;
}
.tab__checked, .tab__noChecked {
    width: 170px;
}

.line {
    width: 600px;
}

.tabContent {
    box-sizing: border-box;
    height: 385px;
    padding: 0 0 0 84px;
}
.tabContent__image img {
    height: 385px;
}
.tabContent__title {
    font-size: 24px;
    padding: 30px 0;
}

.tabContent__desc {
    font-size: 14px;
    line-height: 16px;
}

.awesome {
    box-sizing: border-box;
    max-width: 1024px;
    padding: 0 15px;
    margin: 50px auto;
}

.container-awesome {
    width: 992px;
}

.awesome__title {
    font-size: 24px;
    margin: 45px auto;
}

.awesome__separator {
    width: 142px;
}

.awesome__subtitle {
    font-size: 14px;
}

.content__block {
    width: 317px;
}

.content__block__title {
    font-size: 18px;
}

.content__block__text {
    font-size: 14px;
}
.content__block__image img{
    width: 147px;
}

.pricing {
    max-width: 1024px;
    height: 770px;
    margin: 0 auto;
}

.container-pricing {
    width: 992px;

}

.pricing__title {
    font-size: 24px;
    padding-top: 30px;
}

.pricing__separator {
    width: 142px;
    margin: 30px auto;
}

.pricing__subtitle {
    font-size: 14px;
}

.tariffs {
    height: 452px;
}

.tariffs__block {
    width: 318px;
}

.tariffs__name {
    padding: 10px 0;
}

.tariffs__price {
    padding: 21px 0;
}

.tariffs__free {
    padding: 9px 0;
}

.tariffs__list__item {
    padding: 10px 0;
}

.customers {
    max-width: 1024px;
    height: 580px;
    margin: 0 auto;
}

.container-customers {
    width: 992px;
}

.customers__title {
    font-size: 24px;
    padding: 0;
}

.customers__separator {
    width: 142px;
    margin: 30px auto;
}

.customers__subtitle {
    font-size: 14px;
    margin: 20px auto;
}

.customers__blocks {
    margin-top: 0;
}

.block__text {
    box-sizing: border-box;
    padding: 50px 30px;
    width: 317px;
    height: 180px;
    font-size: 14px;
}

.block__name {
     font-size: 18px;
 }

.block__profession {
    font-size: 14px;
    padding-left: 30px;
}
.block__person img {
    width: 64px;
}

.stylish {
    max-width: 1024px;
    height: 358px;
    background-size: cover;
}
.stylish__opacity {
    height: 358px;
}

.stylish__title {
    font-size: 24px;
    padding: 0;
}

.stylish__separator {
    width: 142px;
    margin: 30px auto;
}

.stylish__subtitle {
    font-size: 14px;
    margin: 30px auto;
}
.stylish__button {
    width: 318px;
}
.contacts {
    max-width: 1024px;
    height: 680px;
}

.contacts__title {
    font-size: 24px;
    padding: 0;
    font-weight: 700;
}

.contacts__separator {
    width: 142px;
    margin: 30px auto;
}

.contacts__subtitle {
    font-size: 14px;
    margin: 30px auto;
}
.contacts__form__button {
    width: 318px;
}

.contacts__form__blocks {
    width: 90%;
}

.footer {
    box-sizing: border-box;
    max-width: 1024px;
    height: 164px;
    font-size: 14px;
    padding: 30px 0;
    justify-content: space-between;
}

.footer__icons__ul {
    width: 450px;
    margin: 0;
}

.footer__icons__ul img {
    width: 45px;
}















